name: ci

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.17'
      - name: Go test
        run: go test ./... -v
